body{
    margin: 0;
    font-family: 'Redressed', cursive;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: lightseagreen;
}
.name-color{
    color: blueviolet;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
section{
    height: 500px;
    background-color: rgb(241, 231, 231);
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.dream-area{
    background-color: linen;
}
footer{
    font-size: 40px;
}